# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
pip-wheel-metadata/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# virtualenv
Lib/
Scripts/

# Spyder project settings
.spyproject

# Rope project settings
.ropeproject

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# dotenv
.env
.env.*

# SQLite databases
*.sqlite3

# logs
*.log

# pyright / pylance
.mypy_cache/
.pyre/

# Node modules (if any frontend code is added later)
node_modules/
